body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#weatherForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 10px;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

button {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 1%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.cancel-button {
    background-color: #f44336;
}

.cancel-button:hover {
    background-color: #e53935;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none; /* 기본적으로 숨겨짐 */
    text-align: left;
    font-size: 16px;
    margin-top: 20px;
}

.city-dropdown {
    position: absolute;
    top: 100px;
    left: 10px;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.city-dropdown div {
    padding: 8px;
    cursor: pointer;
}

.city-dropdown div:hover {
    background-color: #f4f4f4;
}

.weather-info p {
    margin: 8px 0;
}

.error-message {
    color: #f44336;
    font-weight: bold;
}

.weather-info {
    color: #333;
}

.city-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.city-list > div {
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.city-list > div button {
    margin-top: 10px;
    width: auto;
    padding: 8px 16px;
}

@media (max-width: 600px) {
    #weatherForm {
        width: 90%;
        padding: 15px;
    }

    input[type="text"] {
        padding: 10px;
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 10px;
    }

    .city-dropdown {
        width: 100%;
        top: auto;
        bottom: 0;
    }
}
