<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>

<h1>Weather Information</h1>
<form id="weatherForm">
    <label for="city">Select City:</label>
    <input id="city" name="city" value="Seoul" required oninput="searchCity()"/>
    <button type="button" onclick="getWeather()">Get Weather</button>
    <div id="cityDropdown" class="city-dropdown"></div>
</form>


<div id="cityList" class="city-list"></div>
<script src="/js/index.js"></script>

</body>
</html>
